.App {
  text-align: center;
  width: 100%; 
}

body {
  background: rgb(119, 117, 117);
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}